.title p{
    color: red;
    font-weight: 900;
    animation: glitch 2s infinite;
}

@keyframes glitch {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(3px);
        opacity: 0.8;
    }
    50% {
        transform: translateX(-3px);
        opacity: 0.6;
    }
    75% {
        transform: translateX(2px);
        opacity: 0.9;
    }
    100% {
        transform: translateX(-2px);
        opacity: 0.7;
    }
}

.container{
    margin-top: 200px;
}