body {
    background-color: #212529;
    background-image: url('../../page/images/bg-hero.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.row a{
    color: gray;
    text-decoration: none;
}

.title h1{
    color: white;
}

.title p{
    color: red;
    font-weight: 900;
    animation: glitch 2s infinite;
}

.container{
    margin-top: 150px;
}

.password-input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: gray;
    padding: 5px;
    border-radius: 50px;
}

.confirm-password-input-wrapper {
    position: relative;
}

.confirm-pass-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: gray;
    padding: 5px;
    border-radius: 50px;

}


@keyframes glitch {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(3px);
        opacity: 0.8;
    }
    50% {
        transform: translateX(-3px);
        opacity: 0.6;
    }
    75% {
        transform: translateX(2px);
        opacity: 0.9;
    }
    100% {
        transform: translateX(-2px);
        opacity: 0.7;
    }
}